#icone {
  font-size: xx-large;
  margin: 40px 0 0 0;
}
.bake {
  background-image: url(../cupcake-plate-surrounded-by-fruits.jpg);
  background-size: cover;
  padding: 30px;
}
nav + a {
  --bs-icon-link-transform: translate3d(0, -0.125rem, 0);
}
.hero-section {
  background-image: url(iamhere.jfif);
  height: 80vh;
  background-size: cover;
}
.hero-section p:hover,
.hero-section h1:hover {
  color: aliceblue;
}
.hero-section div {
  background-image: url(../cupcake-plate-surrounded-by-fruits.jpg);
  border-bottom: 16px dotted black;
}
.hero-section div * {
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #d6900d 100%
  );
  background-clip: text;
  color: transparent;
  font-weight: bold;
}
.hero-section div a {
  font-size: x-large;
}
.about {
  border: 10px dotted black;
}
